/* primary-black : hex #1f1e1e */

@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Jacquard 12", serif;
    font-size: 3vw;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 2vw;
    left: 2vw;
    margin: 0;
    font-size: 4vw;
    letter-spacing: 0.3vw;
    font-variant: small-caps;
}

hr {
    border: solid;
    border-color: darkgoldenrod;
    width: 30vw;
    margin: 1vw 0 2vw 0;
}

button {
    margin : 1vw;
    padding: 1vw;
    cursor: pointer;
    color:blanchedalmond;
    background-color: cadetblue;
    font-variant: small-caps;
    font-size: 2rem;
}

.title {
    margin-top: 2vw;
    font-size: 5vw;
}

.subtitle {
    font-size: 3.5vw;
    margin-left: 4vw;
}

#global-container {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url("../images/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#global-container:after {
    content: '';
    display: block;
    padding-top: 50%;
}

#inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

#inner-container>main {
    width: 65%;
    height: 75%;
    background: rgba(232, 220, 205, 0.708);
}


#shield {
    width: 8vw;
    position: absolute;
    left: calc(50% - 8px);
    transform: translateX(-50%);
    top: 5%;
    border-radius: 10px 100px / 120px;

}

#game-log {
    padding-top: 3%;
    height: 100%;
    /* overflow-y: hidden; */
}

#game-log ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* #game-log figure {
    margin: 0;
} */

#game-log li:first-child {
    list-style: none;
    text-align: center;
    letter-spacing: 0.2rem;
}

#containerCard {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}

#containerCard li {
    list-style: none;
    text-align: center;
    letter-spacing: 0.2rem;
}


#containerCard p {
    margin: 0.8vw;
    font-size: 3vw;
}

#cardHeroChoice {
    margin-top: 2em;
    border-radius: 5% 10%;
    border: none;
    width: 15vw;
    display: flex;
    padding: 0;
}

#cardHeroChoice img {
    width: 100%;
    border-radius: 5% 10%;
    border: none;
    display: block;
    cursor: pointer;
}

#cardMonsterChoice {
    margin-top: 2em;
    border-radius: 5% 10%;
    border: none;
    width: 15vw;
    display: flex;
    padding: 0;
}

#cardMonsterChoice img {
    width: 100%;
    border-radius: 5% 10%;
    border: none;
    display: block;
    cursor: pointer;

}

.game {
    font-family: 'Segoe UI', sans-serif;
    font-size: 3rem;
    font-weight: 700;

}


/* Etat du jeu */
div.game-state {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 10rem; */
    font-variant: small-caps;

}

div.game-state img {
    width: 10vw;
}

div.game-state figure {
    display: flex;
    align-items: center;
    width: 100%;
    margin : 0 0 0 3vw;
}

div.game-state figure {
    gap: 2vw;
}

div.game-state figure img {
    height: 7vw;
    width: auto;
}

div.game-state h2 {
    color: brown;
    font-size: 6vw;
    letter-spacing: 0.3rem;
    margin: 0;
}

/* Journal de partie */

div.round {
    list-style: none;
    margin: 2vw 3vw 4vw 3vw;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

div.round:after {
    content: "";
    display: table;
    clear: both;
}

div.round img {
    width: 20%;
}

/* div.round h2 {
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
} */

div.round p {
    display: flex;
    font-size: 2vw;
    font-weight: 600;
    letter-spacing: 0.2rem;
    flex: 1;
}

/* li.player-attacks img {
    float: left;
    margin-right: 2rem;
} */

/* li.dragon-attacks img {
    float: right;
    margin-left: 2rem;
} */

/* li.dragon-attacks p {
    text-align: right;
} */

/* li.game-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
}

li.game-end p {
    text-align: center;
}

li.game-end img {
    width: 50%;
} */

/* Animated clouds */
.cloud {
    position: absolute;
    z-index: 0;
    opacity: 0.8;
    animation: cloudPassingBy linear infinite;
}

#cloud1 {
    top: 5vw;
    left: -20vw;
    width: 20%;
    animation-duration: 50s;
}

#cloud2 {
    top: 10vw;
    left: -20vw;
    width: 20%;
    animation-duration: 30s;
}

@keyframes cloudPassingBy {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(600%);
    }
}